<div class="container">
    <br>
    <h1>Pipes</h1>
    <hr>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Variable</th>
                <th scope="col">Pipe</th>
                <th scope="col">Producto</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>{{nombre}}</td>
                <td>uppercase</td>
                <td>{{nombre | uppercase}}</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>{{nombre}}</td>
                <td>lowercase</td>
                <td>{{nombre | lowercase}}</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>{{nombre}}</td>
                <td>slice:3</td>
                <td>{{nombre | slice:3}}</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>{{nombre}}</td>
                <td>slice:0:3</td>
                <td>{{nombre | slice:0:3}}</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>{{arreglo}}</td>
                <td>slice:0:3</td>
                <td>{{arreglo | slice:0:3}}</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>{{PI2}}</td>
                <td>number:'1.0-5'</td>
                <td>{{PI2 | number:'1.0-5'}}</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>{{PI2}}</td>
                <td>number:'1.5-5'</td>
                <td>{{PI2 | number:'1.5-5'}}</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>{{a}}</td>
                <td>percent</td>
                <td>{{a | percent}}</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>{{a}}</td>
                <td>percent:'2.2-2'</td>
                <td>{{a | percent:'2.2-2'}}</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>{{current}}</td>
                <td>currency</td>
                <td>{{ current | currency }}</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>{{current}}</td>
                <td>currency:'EUR'</td>
                <td>{{ current | currency:'EUR' }}</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>{{current}}</td>
                <td>currency:'EUR':'code'</td>
                <td>{{ current | currency:'EUR':'code' }}</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>{{current}}</td>
                <td>currency:'GBP':'symbol':'5.4-4'</td>
                <td>{{ current | currency:'GBP':'symbol':'5.4-4' }}</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>{{current}}</td>
                <td>currency:'CAD':'symbol'</td>
                <td>{{ current | currency:'CAD':'symbol' }}</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>{{current}}</td>
                <td>number</td>
                <td>{{ current | number:'.2-2'}}</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>{{current}}</td>
                <td>currency:'CAD':'symbol-narrow'</td>
                <td>{{ current | currency:'CAD':'symbol-narrow' }}</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>{{valorDePromesa}}</td>
                <td>async</td>
                <td>{{ valorDePromesa | async }}</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>{{fecha}}</td>
                <td>date</td>
                <td>{{ fecha | date }}</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>{{fecha}}</td>
                <td>date</td>
                <td>{{ fecha | date:'medium' }}</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>{{fecha}}</td>
                <td>date</td>
                <td>{{ fecha | date:'MMMM - dd' }}</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>{{nombre2}}</td>
                <td>capitalizado</td>
                <td>{{ nombre2 | capitalizado:1:2:3 }}</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>{{password}}</td>
                <td>maskPassword</td>
                <td>{{ password | maskPassword }}</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>{{password}}</td>
                <td>maskPassword:{{isMask}} <button (click)="ToggleMask()" class="btn btn-outline-primary">Activar Enmascaramiento</button></td>
                <td>{{ password | maskPassword:isMask }}</td>
            </tr>

        </tbody>
    </table>


    <h3>Slice</h3>
    <ul>
        <li *ngFor="let foo of arreglo | slice:2:10">{{foo}}</li>
    </ul>

    <h4>JSON</h4>
    <pre>
      {{heroe | json}}
    </pre>
    <pre>
        {{heroe.direccion | json}}
    </pre>

    <br>
    <hr>

    <h2>YouTube</h2>

    <iframe width="560" height="315" [src]="urlCode | safeBrowser:'https://www.youtube.com/embed/'" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>